body {
    font-family: Arial, sans-serif;
    background-color: #4F959D;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
}

.container {
    background-color: #98D2C0;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea {
    width: 90%;
    height: 60px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 1rem;
    resize: none;
    outline: none;
}

button {
    padding: 12px 30px;
    background-color: #ffcc00;
    color: #333;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

button:hover {
    background-color: #ffa500;
}

a {
    color: #4F959D;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffa500;
}
